/**************
    Header css
***************/
body{
  overflow-x: hidden;
  background: #242424;
}
@media (min-width:992px) {
  .container{
    width : 950px;
  }
}
.navbar-default .navbar-collapse{
  padding: 0;
}
.header{
  background-color: #242424;
  height: 45px;
}
.logoHeader{
  /*font-size: 26px;
  margin: 5px 0 3px;
  color: #57c5a0;
  text-transform: uppercase;
  font-family: "STHeiti TC Light";*/
      margin: 12px 0;
}
.login_link{
    line-height: 45px;
    padding: 0 20px;
    font-size: 14px;
    color: #7e7e7e !important;
    border-left: 1px solid #7e7e7e;
    border-right: 1px solid #7e7e7e;
    font-family: "Aller";
}
.navbar-default {
    background-color: #ffffff;
    border: 0;
    border-bottom: 1px solid #d3d3d3;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a{
  font-size: 18px;
  color: #242424;
  background: #fff !important;
  font-family: "aller";
  padding: 25px
}

.navbar-default .navbar-nav>li{
  border-left: 1px solid #eee;

}

.navbar-default .navbar-nav>li:last-child{
  border-right: 1px solid #eee;
}
.sliderContainer{
  padding: 0;
}
.slickSlider{
  margin: 0;
  max-height: 550px;
  overflow: hidden;
}
.slick-slider{
  margin-bottom: 0px !important;
}
.slickSlider .slick-slide img{
  width: 100%;
 height: auto !important;

}

.aritcle-item:hover  img {
  transform:scale(1.5);
    -ms-transform:scale(1.5); /* IE 9 */
    -moz-transform:scale(1.5); /* Firefox */
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -o-transform:scale(1.5); /* Opera */
  }

.color1{
   background: rgba(87, 188, 223, 0.9);
}
.color2{
background-color: rgba(36, 36, 36, 0.9);
}
.aritcle-item {
    height: 180px;
    overflow: hidden;
    width: 33%;
    margin: 0 8px;
}
.divThumb{
  background-color: #ebe7df;
    padding-bottom: 20px;
}
.defaultTitle{
    font-size: 25px;
    margin: 30px 0;
    font-family: "Aller Light";
    color: #242424;
}
.shopelement .thumbnail{
    border:0;
    border-radius: 0;
    padding:0;
    margin-bottom: 0;
}
.shopelement .thumbnail img{
    height: 220px;
}
.shopelement:hover img {
    transform: scale(0.8);
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.shopelement:hover .saleThumb{
    background-color: #dc2513;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.ElementCaption{

    border-top: 1px solid #ccc;
}
.ElementCaption .price {
    position: absolute;
    left: 30px;
    margin-top: -33px;
    width: 68px;
    height: 68px;
    background-color: #57c5a0;
    line-height: 72px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    font-family: "Aller Light";
    font-weight: bold;
    z-index: 99;
}
.ElementCaption .mark-shop{
    margin-left: 85px;
    color: #242424;
    font-size: 18px;
    font-family: "Aller";
    text-transform: capitalize;
}
.ElementCaption .saleThumb {
    position: absolute;
    right: 25px;
    top: 0px;
    width: 68px;
    height: 68px;
    background-color: #242424;
    line-height: 72px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    font-family: "Aller Light";
    font-weight: bold;
    text-transform: uppercase;
    z-index: 999;
}
.shopelement .overlay {
    position: relative;
    top: 0;
    background: rgba(36, 36, 36, 0.53);
    width: 100%;
    text-align: center;
    height: 220px;
    opacity: 0;
    left: 0px;
    /* margin: 0 -58px 0 15px; */
    margin-top: -220px;
    z-index: 99;
}
.shopelement:hover .overlay {
    opacity: 1;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.articleItem img{
    width:100%;
 }
.overlay i{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.76);
    text-align: center;
    line-height: 13pc;
}
.articleItem{
    margin: 20px 0 ;
}
.articleItem .thumbnail{
    border:0;
    border-radius: 0;
    padding:0;
    height: 190px;
    overflow: hidden;
    margin-bottom: 0;
}
.articleItem:hover img{
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-filter: grayscale(0.3) blur(0px) brightness(80%);
    -moz-filter: grayscale(0.3) blur(0px) brightness(80%);
    -o-filter: grayscale(0.3) blur(0px) brightness(80%);
    filter: grayscale(0.3) blur(0px) brightness(80%);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.fonttext {
    position: absolute;
    top: 30%;
     font-family: "Aller Light";
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
     width: 224px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    margin: 0 auto;
    left: 15%;
}
.outOff{background-color: #f27e4b !important;   }
.showmore{
    display: inline-flex;
    padding-left:15px;
    margin-bottom: 0;
}
.showmore li{
    display: block;
    margin-right: 30%;

}
.showmore li a {
    color: #777;
    font-size: 18px;
}
.showmore li a:hover {
    color:#57c5a0;

}
.specialHR{
    margin-top: 40px;
    border-top: 1px solid #bcb5a7;
}
.bloggerDiv .title {
     font-size: 14pt;
     color: #242424;
     font-family: "Aller";
     font-weight: bold;
     text-transform: uppercase;
    margin:  10px 0;
 }
.mediablog .title{
    font-size: 14px;
    color: #242424;
    font-family: "Aller";
    font-weight: bold;
    text-transform: uppercase;
    margin:  0 0 2px;
}
.bloggerDiv p , .mediablog p{
    font-size: 12px;
    color: #242424;
    font-family: "Aller";
 }
.bloggerDiv{
    background: #dfdbd4;
    padding: 15px;
    margin-bottom: 15px;
}
.media a {
    text-decoration: none !important;
}
.mediaInti{
    width: 40px;
    height: 40px;
    background: #57c5a0;
    font-family: "Aller";
    font-size: 13px;
    text-align: center;
    padding-top: 2px;
    color: #fff;
    text-decoration: none !important;
}
.footerIn h3{
    color: #7d7d7d;
    font-size: 18px;
    font-family: "Aller";
}
.shopelement{
    margin-bottom: 15px;
}
.footerIn p{
    color: #a4a4a4;
    font-size: 14px;
    font-family: "Aller";
}
.footerIn{
    padding:30px;
}
.copyright{
    padding:30px 15px;
    background: #2e2e2e;
    border-top:1px solid #000;
    text-align: right;
}
.copyright ul {
    padding-left:0;
display: inline-flex;
    margin-bottom: 0;
}
.copyright ul li {
     display: block;
    margin-left: 10px;
    color: #a4a4a4;
}
.copyright ul li a {
    color: #a4a4a4;
    font-size: 14px;
    font-family:"Aller Light";
}
.copyright ul li a:hover{
    color: #fff;
}
.showtext{
    position: absolute;
    top: 10rem;
    right: 15%;
    width: 410px;
    text-align: left;
}
.lightTitle{
    font-size:40pt;
    color: #d71579;
    margin: 0;
    font-family: "owsald lig";
}
.extralightTitle{
    font-size:40pt;
    color: #242424;
    margin: 0;
    font-family: "owsald extra";
}
.showtext p {
    font-size:20pt;
    color: #242424;
    margin: 15px 0;
    font-family: "Aller Light";
    line-height: 30px;
}
.showBtn{
    padding-left: 0;
    display: inline-flex;
}
.showBtn li {
    display: block;
    margin-right: 10px;
}
.btn-show {
    background-color: #57c5a0;
    padding: 5px 10px;
    color: #fff;
    border: 0;
    border-radius: 0;
    font-size: 16px;
}
.btn-show:hover{
    background: #3eb58d;
    color: #fff;
}

.owl-carousel .owl-item , .owl-carousel .owl-item , .owl-carousel .owl-stage  {
    width: 100% !important;
}


@media (max-width: 768px) {
    .navbar-default .navbar-collapse{
        overflow: hidden;
        border-bottom: 4px solid rgb(36, 36, 36);
    }
}
.carousel-inner , .carousel-inner>.item , .carousel-inner>.item{
    height:550px !important;overflow: hidden;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
    display: block;
    max-width: inherit !important;
    height: auto !important;
}
.carousel-inner>.item>img {
    width: 100%;
    min-height: 550px;
}